.row-list {
  display: flex;
  flex-wrap: wrap;
  list-style: inside;
  padding-left: 0;
}

.row-list li {
  flex-basis: calc(25%);
}

.skills-box {
  min-width: 300px;
}

@media (max-width: 768px) {
  .row-list li {
    flex-basis: calc(50%);
  }
}