.resume {
  height: 98vh;
}

h3 {
  margin-top: .5rem !important;
}

.md.hydrated {
  margin-right: 2px;
}

@media (max-width: 768px) {
  .resume.border {
    border-bottom: none !important;
  }

  .resume.rounded {
    border-radius: .375rem .375rem 0 0 !important;
  }
}